.item-detail-container{
    background-color: #343a40;
    width: 880px;
    border-radius: 4px;
    position: relative;
    margin: 0 auto;
    z-index: 9999;
    margin-top: 130px;
    box-shadow: 10px 20px 14px 1px;
}