.items-container{
    background-color: #fdefff;
}

.items-container .item-h1{
    margin: 0px;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Water Brush', cursive;
    font-weight: 800;
    font-size: 40px;
}

.container-items-product{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }